---
layout: page
title: Notre Équipe
description: Découvrez notre équipe.
permalink: /staff/
---

<h2>Notre équipe</h2>

<div class="staff_block">
  {% for author in site.authors %}
    <a href="{{ site.baseurl }}{{ author.url }}" class="staff_item">
      <img
        alt=""
        src="{{ author.photo }}"
        class="image" />
      <div class="info">
        <h4 class="name">{{ author.display_name }}</h4>

        {% if author.position %}
          <p class="position">{{ author.position }}</p>
        {% endif %}
      </div>
    </a>
  {% endfor %}
</div>