@use "sass:color";
@use "functions";
@use "include-media";
@use "mixins";
@use "variables";

.author {
  background: variables.$primaryDark;
  display: table;
  width: 100%;
  padding: functions.rem(40px) 0;
  margin: functions.rem(40px) 0;

  @include include-media.media(">=laptop") {
    padding: functions.rem(50px) 0;
  }

  .details {
    margin: auto;
    max-width: functions.rem(800px);
    padding: 0 functions.rem(20px);
    text-align: justify;

    @include include-media.media("<=laptop") {
      text-align: center;
    }
  }

  svg {
    @include mixins.size(25, 25);
    margin-right: functions.rem(10px);
  }

  a {
    fill: color.adjust(variables.$lightGray, $lightness: -30%);
    text-decoration: none;
    border: none;
    transition: all 0.3s;

    &:hover {
      fill: variables.$themeColor;
    }
  }

  img {
    width: functions.rem(160px);
    border-radius: 50%;
    display: block;
    margin: auto;
    object-fit: cover;
    aspect-ratio: 1/1;

    @include include-media.media(">=laptop") {
      width: functions.rem(200px);
      float: left;
      margin-right: 3.125rem;
      margin-top: 2.125rem;
      margin-bottom: 2.125rem;
    }
  }

  .def {
    color: gray;
    font-size: functions.rem(18px);
    @include mixins.mainFont(300);
    margin: functions.rem(10px);

    @include include-media.media(">=laptop") {
      margin: 0;
    }
  }

  .name {
    margin: 0;

    a {
      @include mixins.mainFont();
      text-decoration: none;
      color: variables.$lightGray;
      font-size: functions.rem(30px);

      @include include-media.media(">=sm") {
        font-size: functions.rem(45px);
      }

      &:hover {
        color: variables.$texts;
      }
    }
  }

  .desc {
    @include mixins.mainFont(300);
    color: color.adjust(variables.$accentDark, $lightness: -25%);
    margin: functions.rem(10px);
    font-size: functions.rem(16px);
    line-height: functions.rem(25px);
    text-align: justify;

    @include include-media.media(">=sm") {
      font-size: functions.rem(18px);
    }
  }
  .icns {
    @include include-media.media(">=laptop") {
      text-align: right;
    }
  }
}

.staff {
  .staff_item {
    .name {
      h1 {
        font-size: functions.rem(450px);
        @include include-media.media("<=phone") {
          font-size: functions.rem(45px);
        }
      }
    }
    .icns {
      @include include-media.media(">=tablet") {
        text-align: right;
      }
      a {
        fill: color.adjust(variables.$lightGray, $lightness: -30%);
        text-decoration: none;
        border: none;
        transition: all 0.3s;
    
        &:hover {
          fill: variables.$themeColor;
        }
      }
      svg {
        @include include-media.media(">=tablet") {
          @include mixins.size(32, 32);
        }
        @include include-media.media("<=phone") {
          @include mixins.size(15, 15);
          margin-right: functions.rem(10px);
        }
        @include mixins.size(25, 25);
        margin-right: functions.rem(15px);
  }
    }
  }
  
}