.author {
  background: $primaryDark;
  display: table;
  width: 100%;
  padding: rem(40px) 0;
  margin: rem(40px) 0;

  @include media(">=laptop") {
    padding: rem(50px) 0;
  }

  .details {
    margin: auto;
    max-width: rem(800px);
    padding: 0 rem(20px);
    text-align: justify;

    @include media("<=laptop") {
      text-align: center;
    }
  }

  svg {
    @include size(25, 25);
    margin-right: rem(10px);
  }

  a {
    fill: darken($lightGray, 30%);
    text-decoration: none;
    border: none;
    transition: all 0.3s;

    &:hover {
      fill: $themeColor;
    }
  }

  img {
    width: rem(160px);
    border-radius: 50%;
    display: block;
    margin: auto;
    object-fit: cover;
    aspect-ratio: 1/1;

    @include media(">=laptop") {
      width: rem(200px);
      float: left;
      margin-right: 3.125rem;
      margin-top: 2.125rem;
      margin-bottom: 2.125rem;
    }
  }

  .def {
    color: gray;
    font-size: rem(18px);
    @include mainFont(300);
    margin: rem(10px);

    @include media(">=laptop") {
      margin: 0;
    }
  }

  .name {
    margin: 0;

    a {
      @include mainFont();
      text-decoration: none;
      color: $lightGray;
      font-size: rem(30px);

      @include media(">=sm") {
        font-size: rem(45px);
      }

      &:hover {
        color: $texts;
      }
    }
  }

  .desc {
    @include mainFont(300);
    color: darken($accentDark, 25%);
    margin: rem(10px);
    font-size: rem(16px);
    line-height: rem(25px);
    text-align: justify;

    @include media(">=sm") {
      font-size: rem(18px);
    }
  }
  .icns {
    @include media(">=laptop") {
      text-align: right;
    }
  }
}
