@use "sass:color";
@use "variables";

.cc--darkmode {
  --cc-font-family: "Titillium Web", "Helvetica Neue", Helvetica, sans-serif;
  --cc-bg: #{variables.$primaryDark};
  --cc-primary-color: #{variables.$accentDark};
  --cc-secondary-color: #{variables.$lightGray};

  --cc-btn-primary-bg: #{variables.$themeColor};
  --cc-btn-primary-color: var(--cc-bg);
  --cc-btn-primary-border-color: var(--cc-btn-primary-bg);
  --cc-btn-primary-hover-bg: #{color.adjust(
      variables.$themeColor,
      $lightness: 20%
    )};
  --cc-btn-primary-hover-color: #000000;
  --cc-btn-primary-hover-border-color: var(--cc-btn-primary-hover-bg);

  --cc-btn-secondary-bg: #{variables.$primaryDark};
  --cc-btn-secondary-color: var(--cc-primary-color);
  --cc-btn-secondary-border-color: var(--cc-btn-secondary-bg);
  --cc-btn-secondary-hover-bg: #{variables.$texts};
  --cc-btn-secondary-hover-color: #ffffff;
  --cc-btn-secondary-hover-border-color: var(--cc-btn-secondary-hover-bg);

  --cc-separator-border-color: var(--cc-bg);

  --cc-toggle-on-bg: var(--cc-btn-primary-bg);
  --cc-toggle-off-bg: #525f6b;
  --cc-toggle-on-knob-bg: var(--cc-btn-primary-color);
  --cc-toggle-off-knob-bg: var(--cc-btn-primary-color);

  --cc-toggle-enabled-icon-color: var(--cc-btn-primary-color); // yes (v tick)
  --cc-toggle-disabled-icon-color: var(--cc-btn-primary-color); // no (x tick)

  --cc-toggle-readonly-bg: #343e45;
  --cc-toggle-readonly-knob-bg: #5f6b72;
  --cc-toggle-readonly-knob-icon-color: var(--cc-toggle-readonly-bg);

  --cc-section-category-border: #1e2428;

  --cc-cookie-category-block-bg: #1e2428;
  --cc-cookie-category-block-border: var(--cc-section-category-border);
  --cc-cookie-category-block-hover-bg: #242c31;
  --cc-cookie-category-block-hover-border: #232a2f;
  --cc-cookie-category-expanded-block-bg: transparent;
  --cc-cookie-category-expanded-block-hover-bg: var(--cc-toggle-readonly-bg);

  --cc-overlay-bg: rgba(0, 0, 0, 0.65);
  --cc-webkit-scrollbar-bg: var(--cc-section-category-border);
  --cc-webkit-scrollbar-hover-bg: var(--cc-btn-primary-hover-bg);

  --cc-footer-bg: var(--cc-bg);
  --cc-footer-color: var(--cc-secondary-color);
  --cc-footer-border-color: var(--cc-bg);

  #cc-main {
    color-scheme: dark;
    p#cm__desc.cm__desc {
      padding-bottom: 0em;
    }

    div.cm__btns {
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
    }

    div.cm__texts {
      padding-top: 0.5rem;
    }
  }
}
