@use "sass:color";
@use "functions";
@use "include-media";
@use "mixins";
@use "variables";

.contact-form {
  @include mixins.mainFont();
  @include mixins.center(functions.rem(1024px));
  padding: functions.rem(10px);

  fieldset {
    border: none;
    font-weight: normal;
  }

  input[type="text"],
  input[type="email"],
  textarea {
    box-sizing: border-box;
    outline: none;
    display: block;
    color: #333333;
    width: 100%;
    padding: 10px;
    border: none;
    border-bottom: 1px solid #ddd;
    margin-bottom: 10px;
    font-family: inherit;
    font-size: functions.rem(18px);
    height: functions.rem(45px);

    &.has-error {
      border-color: #f04242;
    }
  }

  input[type="text"],
  input[type="email"] {
    border-radius: 15px;
  }

  textarea {
    height: functions.rem(200px);
    border-radius: 10px;
  }

  span {
    display: block;
    font-size: functions.rem(14px);
    color: #f04242;
    padding-bottom: functions.rem(10px);
  }

  button[type="submit"] {
    display: block;
    padding: functions.rem(14px) functions.rem(39px) functions.rem(14px)
      functions.rem(39px);
    color: #ffffff;
    background: variables.$themeColor;
    font-size: functions.rem(18px);
    width: 100%;
    border: 1px solid color.adjust(variables.$themeColor, $lightness: -30%);
    border-width: 1px 1px 3px;
    margin-top: functions.rem(50px);
    margin-bottom: functions.rem(10px);
    cursor: pointer;
    transition: all 0.3s;
    outline: none;
    border-radius: 15px;

    &:hover {
      background: color.adjust(variables.$themeColor, $lightness: -20%);
    }

    @include include-media.media(">=iphone") {
      padding: functions.rem(19px) functions.rem(39px) functions.rem(18px)
        functions.rem(39px);
    }
  }

  [v-cloak] {
    display: none;
  }
}
