@use "functions";
@use "include-media";
@use "mixins";
@use "variables";

.share {
  background: variables.$primaryDark;
  @include mixins.center(800px);
  text-align: center;
  padding-top: functions.rem(20px);
  margin-top: functions.rem(10px);

  @include include-media.media(">=sm") {
    margin-top: functions.rem(50px);
  }

  article & {
    border-top: none;
  }

  svg {
    margin: functions.rem(15px);
    @include mixins.size(35, 35);
  }

  a {
    text-decoration: none;
    border: none;
  }

  .icon {
    transition: all 0.3s;
    fill: variables.$lightGray
  }

  .icon-twitter:hover {
    fill: variables.$themeColor;
  }
  
  .icon-facebook:hover {
    fill: variables.$themeColor;
  }
  h3 {
    color: variables.$lightGray;
  }
}
