/**
 * Set up here the general appearance of the theme.
 */

$themeColor: map-get($theme, themeColor) !default;
$primaryDark: map-get($theme, primaryDark) !default;
$accentDark: map-get($theme, accentDark) !default;
$lightGray: map-get($theme, lightGray) !default;
$texts: map-get($theme, texts) !default;

// Breakpoints
$breakpoints: (
  sm: 47.5rem,
  phone: 26.25rem,  /* 420px / 16px (base font size) */
  iphone: 47.5rem,       /* 767px / 16px */
  tablet: 48rem,
  laptop: 64rem,   /* 1024px / 16px */
  desktop: 100rem,  /* 1600px / 16px */
);

// Margins
$rowMargin: 10px;
$itemMargin: 15px;

// Sizes
$itemMinWidth: 300px;

// Settings
$maxItemsPerRow: 6;
