@use "sass:map";
@use "include-media";
@use "theme";

/**
 * Set up here the general appearance of the theme.
 */

$themeColor: map.get(theme.$theme, themeColor) !default;
$primaryDark: map.get(theme.$theme, primaryDark) !default;
$accentDark: map.get(theme.$theme, accentDark) !default;
$lightGray: map.get(theme.$theme, lightGray) !default;
$texts: map.get(theme.$theme, texts) !default;

// Breakpoints
include-media.$breakpoints: (
  sm: 47.5rem,
  phone: 26.25rem,  /* 420px / 16px (base font size) */
  iphone: 47.5rem,       /* 767px / 16px */
  tablet: 48rem,
  laptop: 64rem,   /* 1024px / 16px */
  desktop: 100rem,  /* 1600px / 16px */
);

// Margins
$rowMargin: 10px;
$itemMargin: 15px;

// Sizes
$itemMinWidth: 300px;

// Settings
$maxItemsPerRow: 6;
