@use "sass:color";
@use "include-media";
@use "normalize";
@use "theme";
@use "variables";
@use "functions";
@use "mixins";
@use "typo";
@use "post";
@use "highlight";

body {
  overflow-x: auto;

  @include include-media.media(">=sm") {
    padding: functions.rem(50px) functions.rem(30px);
  }

  img {
    max-width: 100%;
    margin: 0 auto functions.rem(20px);
    display: block;
    padding: 10px 0;

    @include include-media.media(">=sm") {
      margin: 0 auto functions.rem(29px);
    }
  }

  figure {
    margin: 0;
  }

  figcaption,
  img + em {
    display: block;
    color: color.adjust(variables.$lightGray, $lightness: -30%);
    text-align: center;
    @include mixins.mainFont(300);
  }

  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  ul,
  ol,
  iframe,
  div[class^="css"] {
    @include mixins.center( functions.rem(800px));
    @include mixins.mainFont(400);
    font-size: functions.rem(17px);
    line-height: functions.rem(30px);
    letter-spacing: 0.05rem;
    padding: 0 functions.rem(20px);
    margin: 0 auto functions.rem(20px);

    @include include-media.media(">=sm") {
      font-size: functions.rem(20px);
      line-height: functions.rem(40px);
      margin: 0 auto functions.rem(29px);
      padding: 0;
    }
  }

  h1.post-title {
    margin: 0 auto;
    line-height: functions.rem(40px);
    @include include-media.media(">=sm") {
      line-height: functions.rem(60px);
      margin: 0 auto functions.rem(10px);
    }
  }

  p.post-subtitle {
    color: color.adjust(variables.$lightGray, $lightness: -30%);
    font-size: functions.rem(17px);
    margin: 0 auto functions.rem(10px);
    line-height: functions.rem(30px);

    @include include-media.media(">=sm") {
      font-size: functions.rem(20px);
      line-height: functions.rem(40px);
    }
  }

  img.post-cover {
    margin-bottom: functions.rem(20px);
    @include include-media.media(">=sm") {
      margin-bottom: functions.rem(29px);
    }
  }

  p.post-info {
    @include mixins.mainFont(300);
    font-size: functions.rem(13px);
    letter-spacing: 0;
    color: color.adjust(variables.$lightGray, $lightness: -30%);
    margin: 0 auto;

    @include include-media.media(">=sm") {
      font-size: functions.rem(16px);
    }

    span,
    time {
      vertical-align: middle;
    }

    time {
      margin-right: functions.rem(10px);

      @include include-media.media(">=sm") {
        margin-right: functions.rem(30px);
      }
    }

    svg {
      width: functions.rem(15px);
      height: functions.rem(15px);
      fill: color.adjust(variables.$lightGray, $lightness: -30%);
      vertical-align: middle;
      margin-right: functions.rem(5px);
    }
  }

  li {
    padding: functions.rem(10px) 0;
    ul {
      margin-bottom: 0;
    }
  }

  p,
  li {
    color: variables.$texts;
    code {
      font-size: functions.rem(15px);
      color: #bf616a;
      word-wrap: break-word;
      background: variables.$lightGray;
      padding: functions.rem(3px) functions.rem(5px);
      border-radius: 3px;
      @include include-media.media(">=sm") {
        font-size: functions.rem(17px);
      }
    }
  }

  a {
    color: #0000ee;
    text-decoration: none;
  }

  iframe {
    margin-top: functions.rem(30px);
    width: 100%;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @include mixins.mainFont(700);
  }

  h1 {
    font-size: functions.rem(32px);
    line-height: 1.4;

    @include include-media.media(">=sm") {
      font-size: functions.rem(47px);
    }
  }

  h2 {
    font-size: functions.rem(24px);
    line-height: 1.4;
    @include include-media.media(">=sm") {
      font-size: functions.rem(37px);
    }
  }

  h3 {
    font-size: functions.rem(20px);
    line-height: 1.4;
    @include include-media.media(">=sm") {
      font-size: functions.rem(27px);
    }
  }

  ul,
  ol {
    padding-left: functions.rem(40px);
  }

  ul.post-list {
    padding: 0;

    @include include-media.media("<sm") {
      padding: 0 functions.rem(20px);
    }
  }

  blockquote {
    @include mixins.center( functions.rem(730px));
    border-left: functions.rem(5px) solid variables.$themeColor;
    margin: functions.rem(30px) auto;
    width: 90%;
    font-size: functions.rem(18px);
    font-style: italic;
    padding:0.6em 30px 0.6em functions.rem(25px);
    border-left:3px solid variables.$themeColor ;
    line-height:1.25;
    position: relative;

    @include include-media.media(">=sm") {
      width: 100%;
      margin: functions.rem(50px) auto;
      font-size: functions.rem(22px);
      padding:0.6em 30px 0.6em functions.rem(35px);
    }

    p {
      font-style: italic;
      font-size: functions.rem(17px);
      color: variables.$texts;
      margin: 0;
      @include include-media.media(">=sm") {
        font-size: functions.rem(20px);
      }
    }
  }

  blockquote::before{
    font-family:Arial;
    content: "\201C";
    color: variables.$themeColor;
    font-size:4em;
    position: absolute;
    left: 10px;
    top:-10px;
  }

  blockquote::after{
    content: '';
  }

  // For the author of the quote
  blockquote span{
    display:block;
    color:variables.$lightGray;
    font-style: normal;
    font-weight: bold;
    margin-top:1rem;
  }

  hr {
    @include mixins.center( functions.rem(760px));
    border: 1px solid variables.$lightGray;
    margin: 50px auto;
  }

  hr.page-divider {
    @include mixins.center( functions.rem(760px));
    border: 0;
    margin: 50px auto;
    position: relative;
    height: functions.rem(54px);

    &:after {
      display: block;
      content: "Page divider";
      padding: functions.rem(5px) functions.rem(10px);
      border: 2px solid variables.$themeColor;
      border-radius: functions.rem(5px);
      font-size: functions.rem(14px);
      font-weight: bold;
      color: variables.$themeColor;
      text-align: center;
      text-transform: uppercase;
    }
  }

  pre {
    overflow-x: auto;
    position: relative;

    &:before {
      display: inline-block;
      content: "In the website, the code will be highlighted.";
      position: absolute;
      top: 0;
      left: 0;
      padding: 0 functions.rem(15px);
      @include mixins.mainFont(400);
      font-size: functions.rem(14px);
      background-color: variables.$themeColor;
      color: #fff;
    }
  }

  table {
    @include mixins.mainFont(400);
    font-size: functions.rem(17px);
    line-height: functions.rem(35px);
    letter-spacing: 0.05rem;
    margin: functions.rem(50px) auto;

    @include include-media.media(">=sm") {
      font-size: functions.rem(20px);
    }

    th,
    td {
      border: functions.rem(1px) solid #ccc;
      padding: functions.rem(5px) functions.rem(10px);

      @include include-media.media(">=sm") {
        border: functions.rem(2px) solid #ccc;
        padding: functions.rem(10px) functions.rem(20px);
      }
    }
  }

  td > pre {
    padding: 0;
    margin: 0;
  }
}

// Helpers

.img-rounded {
  border-radius: 50%;
}
